* {border: 0px Solid red}

body {
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(images/cruncheduppaper.jpg);
  }

.header {
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  }

.buttons {
  display: flex;
  justify-content: center;
  gap: 100px;
}

#result {
  font-size: 20px;
}

.result-box {
  margin-top: 40px;
}

.score {
  display:flex;
  align-items: center;
  gap: 100px;
  font-weight: bold;
}

#score {
  font-size: 24px;
  text-align: center;
}

.output {
  display: flex;
  gap: 50px;
}

.score-margin {
  display: flex;
}

#Rock, #Paper, #Scissors {
    border: none; 
    color: transparent;
    background-color: rgba(0, 0, 0, 0); /*ensures clear background */
    
    width: 200px; 
    height: 260px; 
    cursor: pointer; 
    transition: 0.5s ease;
}

#Rock:hover, #Paper:hover, #Scissors:hover {
  transform: scale(1.1);  /* adding hover effect */
}

#Rock {
  background-image: url('images/rock.png'); 
  background-size: cover;
}

#Paper {
  background-image: url('images/paper.png'); /* Add the path to your image */
  background-size: cover;
  width: 250px;
  height:270px;
}

#Scissors {
  background-image: url('images/scissors.png'); /* Add the path to your image */
  background-size: cover;
}

#footer {
  text-align: center;
}